<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome Ejs</h1>
    <h2><%= 4*4 %></h2>
    <h2>
        <%- (Math.random() * 10000).toFixed(2) %>
    </h2>
    <h2>hello <%= name %></h2>
</body>
</html>