
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="Login.css">
</head>
<body>
    <h1>Login</h1>

    <section>
      <h2>Signup here</h2>
      <form onsubmit="signUp(event)">

        <!-- Email -->
        <div >
          <label for="email">Email</label>
          <input required type="email" name="email" id="email">
        </div>
        <!-- First name -->
        <div >
          <label for="firstName">First Name</label>
          <input required type="text" name="firstName" id="firstName">
        </div>
        <!-- Middle name -->
        <div >
          <label for="secondName">Second Name</label>
          <input type="text" name="secondName" id="secondName">
        </div>
        <div >
          <label for="lastName">Last Name</label>
          <input required type="text" name="lastName" id="lastName">
        </div>
        <!-- Password -->
        <div >
          <label for="password">Password</label>
          <input required type="password" name="password" id="password">
        </div>
        <div id="error" class="center" style="display: none; color: red;">
            User already exists
        </div>
        <div id="success" class="center" style="display: none;">
          Signup was successful, please click on login link below to login
        </div>
        <div class="center">
          <button> Signup </button>
        </div>
      </form>
      <div class="center">Already have an account? 
        <a href="./login.html"> login here</a>
      </div>
      
    </section>

</body>
<!-- <script src="./index.js"></script> -->
</html>