
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="Login.css">
</head>
<body>
    <h1>Login</h1>

    <section>
      <h2>Signup here</h2>
      <form action="/submit" method="post">
        <!-- Email -->
        <div >
          <label for="email">Email</label>
          <input required type="email" name="email" >
        </div>
        <!-- First name -->
        <div >
          <label for="username">Username</label>
          <input required type="text" name="username" >
        </div>
       
        <!-- Password -->
        <div >
          <label for="password">Password</label>
          <input required type="password" name="password" >
        </div>
        <div id="error" class="center" style="display: none; color: red;">
            User already exists
        </div>
        <div id="success" class="center" style="display: none;">
          Signup was successful, please click on login link below to login
        </div>
        <div class="center">
          <button type="submit"> Signup </button>
        </div>
      </form>
      <div class="center">Already have an account? 
        <a href="./login.html"> login here</a>
      </div>
      
    </section>

</body>
</html>