*{
    box-sizing: border-box;       
    }
    
    section{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 10px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    }
    
    h1, h2{
    display: flex;
    justify-content: center;
    color: navy;
    }
    
    div{
    margin-bottom: 20px;
    }
      a{
      padding: 0px 4px;
      }
    input{
    padding: 5px;
    line-height: 24px;
    font-size: 16px;
    outline: none;
    border: 1px solid grey;
    width: 100%;      
    border-radius: 4px;
    }
    
    .center{
    display: flex;
    justify-content: center;
    }
    
    label{
    display: block;
    margin-bottom: 5px;
    }
    
    button{
    background: navy;
    font-size: 20px;
    color: white;
    border: none;
    padding: 10px 40px;
    border-radius: 4px;
    
    }